# Challenge Part 2 Have Customers Narrow Their Travel Searches Based on Temperature and Precipitation

In [29]:
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

from config import g_key

In [6]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
0,0,Ancud,75,CL,broken clouds,87,-41.87,-73.82,55.99,0.00,0,11.41
1,1,Coihaique,40,CL,scattered clouds,66,-45.58,-72.07,50.00,0.00,0,4.70
2,2,Vaini,20,TO,few clouds,83,-21.20,-175.20,69.80,0.00,0,8.05
3,3,Kirovo-Chepetsk,0,RU,clear sky,68,58.55,50.04,51.71,0.00,0,1.99
4,4,Lebu,100,CL,moderate rain,94,-37.62,-73.65,52.27,3.23,0,14.47
...,...,...,...,...,...,...,...,...,...,...,...,...
570,570,Tongzhou,90,CN,overcast clouds,73,39.91,116.60,79.00,0.00,0,6.71
571,571,Nogliki,100,RU,overcast clouds,97,51.83,143.17,40.48,0.00,0,10.11
572,572,Luanda,36,AO,scattered clouds,78,-8.84,13.23,75.20,0.00,0,8.05
573,573,Kondinskoye,93,RU,overcast clouds,60,59.65,67.41,45.34,0.00,0,7.94
574,574,Gazli,6,UZ,clear sky,16,40.13,63.45,79.30,0.00,0,9.42

In [8]:
city_data_df.dtypes

City_ID                  int64
City                    object
Cloudiness               int64
Country                 object
Current Description     object
Humidity                 int64
Lat                    float64
Lng                    float64
Max Temp               float64
Rain (inches)          float64
Snow (inches)            int64
Wind Speed             float64
dtype: object

In [9]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# Enter max temperature criteria
min_temp = float(input("What is the minimum temperature you would like for vacation "))
max_temp = float(input("What is the maximum temperature you would like for vacation "))

What is the minimum temperature you would like for vacation 75
What is the maximum temperature you would like for vacation 90

In [12]:
# Ask customer if they want it to be raining/snowing
rain_amount = input("Do you want it to be raining? (yes/no) ")
snow_amount = input("Do you want it to be snowing? (yes/no) ")

Do you want it to be raining? (yes/no) yes
Do you want it to be snowing? (yes/no) yes

In [13]:
if rain_amount == "no" and snow_amount =="no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] == 0)]
elif rain_amount == "no" and snow_amount =="yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] == 0) &
                                          (city_data_df["Snow (inches)"] >= 0.0)]
elif rain_amount == "yes" and snow_amount =="no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] >= 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) &
                                          (city_data_df["Rain (inches)"] >= 0.0) &
                                          (city_data_df["Snow (inches)"] == 0)]

In [14]:
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
5,5,Albany,4,US,clear sky,52,42.60,-73.97,84.99,0.00,0,5.93
9,9,Rabaul,20,PG,few clouds,78,-4.20,152.17,80.56,0.00,0,9.13
16,16,Hithadhoo,94,MV,overcast clouds,77,-0.60,73.08,84.63,0.00,0,11.39
18,18,Rikitea,93,PF,light rain,84,-23.12,-134.97,76.19,0.37,0,16.71
19,19,Mandal,62,IN,broken clouds,47,25.45,74.57,89.20,0.00,0,21.79
...,...,...,...,...,...,...,...,...,...,...,...,...
564,564,Elmira,75,US,broken clouds,51,42.09,-76.81,87.01,0.00,0,6.82
568,568,Mazamari,78,PE,broken clouds,48,-11.33,-74.53,86.07,0.00,0,1.50
570,570,Tongzhou,90,CN,overcast clouds,73,39.91,116.60,79.00,0.00,0,6.71
572,572,Luanda,36,AO,scattered clouds,78,-8.84,13.23,75.20,0.00,0,8.05
574,574,Gazli,6,UZ,clear sky,16,40.13,63.45,79.30,0.00,0,9.42

In [17]:
filtered_cities_df.count()

City_ID                214
City                   214
Cloudiness             214
Country                213
Current Description    214
Humidity               214
Lat                    214
Lng                    214
Max Temp               214
Rain (inches)          214
Snow (inches)          214
Wind Speed             214
dtype: int64

In [19]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Cloudiness,Country,Current Description,Humidity,Lat,Lng,Max Temp,Rain (inches),Snow (inches),Wind Speed
5,5,Albany,4,US,clear sky,52,42.60,-73.97,84.99,0.00,0,5.93
9,9,Rabaul,20,PG,few clouds,78,-4.20,152.17,80.56,0.00,0,9.13
16,16,Hithadhoo,94,MV,overcast clouds,77,-0.60,73.08,84.63,0.00,0,11.39
18,18,Rikitea,93,PF,light rain,84,-23.12,-134.97,76.19,0.37,0,16.71
19,19,Mandal,62,IN,broken clouds,47,25.45,74.57,89.20,0.00,0,21.79
...,...,...,...,...,...,...,...,...,...,...,...,...
564,564,Elmira,75,US,broken clouds,51,42.09,-76.81,87.01,0.00,0,6.82
568,568,Mazamari,78,PE,broken clouds,48,-11.33,-74.53,86.07,0.00,0,1.50
570,570,Tongzhou,90,CN,overcast clouds,73,39.91,116.60,79.00,0.00,0,6.71
572,572,Luanda,36,AO,scattered clouds,78,-8.84,13.23,75.20,0.00,0,8.05
574,574,Gazli,6,UZ,clear sky,16,40.13,63.45,79.30,0.00,0,9.42

In [20]:
filtered_cities_df.count()

City_ID                213
City                   213
Cloudiness             213
Country                213
Current Description    213
Humidity               213
Lat                    213
Lng                    213
Max Temp               213
Rain (inches)          213
Snow (inches)          213
Wind Speed             213
dtype: int64

In [22]:
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

         City Country  Max Temp    Lat     Lng Hotel Name
5      Albany      US     84.99  42.60  -73.97
9      Rabaul      PG     80.56  -4.20  152.17
16  Hithadhoo      MV     84.63  -0.60   73.08
18    Rikitea      PF     76.19 -23.12 -134.97
19     Mandal      IN     89.20  25.45   74.57

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
output_data_file = "./data/WeatherPy_Vacation.csv"
hotel_df.to_csv(output_data_file, index_label = "City_ID")

In [25]:
vacation_df = pd.read_csv("./data/WeatherPy_Vacation.csv")
vacation_df.head()

   City_ID       City Country  Max Temp    Lat     Lng           Hotel Name
0        5     Albany      US     84.99  42.60  -73.97                  NaN
1        9     Rabaul      PG     80.56  -4.20  152.17         Rabaul Hotel
2       16  Hithadhoo      MV     84.63  -0.60   73.08    Scoop Guest House
3       18    Rikitea      PF     76.19 -23.12 -134.97       Pension Maro'i
4       19     Mandal      IN     89.20  25.45   74.57  पीपी वाले हनुमान जी

In [32]:
# Using the template, add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))